In [1]:
import pandas as pd

from warnings import filterwarnings
filterwarnings("ignore")

In [2]:
data = {'first': ["Pearson", "John", "Jackson"],
        'last': ["Hardman", "Doe", "Doe"], 
        'email': ["pearsonhardman@email.com", "johndoe@email.com", "jacksondoe@gmail.com"]
       }

In [3]:
dataframe = pd.DataFrame(data, columns=data.keys())
dataframe

     first     last                     email
0  Pearson  Hardman  pearsonhardman@email.com
1     John      Doe         johndoe@email.com
2  Jackson      Doe      jacksondoe@gmail.com

In [4]:
# -- add one row at the bottom of the table.

dataframe.loc[len(dataframe.index)] = ["Nicolas", 
                                       "Cage", 
                                       "cagenicolas@email.com"
                                      ]
dataframe

     first     last                     email
0  Pearson  Hardman  pearsonhardman@email.com
1     John      Doe         johndoe@email.com
2  Jackson      Doe      jacksondoe@gmail.com
3  Nicolas     Cage     cagenicolas@email.com

In [5]:
# -- drop some specific row

# dataframe.drop(labels=3, axis = 0, inplace = True)
# dataframe

In [6]:
# -- add some new rows --

new_rows = [{'first': "Optimus", 'last': "Prime", 'email': "iamprime@email.com"},
            {'first': "Rock", 'last': "Johnson", 'email': "therockjohnson@email.com"}
           ]

dataframe = dataframe.append(new_rows, ignore_index=True)
dataframe

     first     last                     email
0  Pearson  Hardman  pearsonhardman@email.com
1     John      Doe         johndoe@email.com
2  Jackson      Doe      jacksondoe@gmail.com
3  Nicolas     Cage     cagenicolas@email.com
4  Optimus    Prime        iamprime@email.com
5     Rock  Johnson  therockjohnson@email.com

## Filters in Pandas.

- ___Retriving all the rows where last name is Doe___.

In [15]:
# -- naive way to get the filtered data:

dataframe[dataframe['last'] == "Doe"]

     first last                 email
1     John  Doe     johndoe@email.com
2  Jackson  Doe  jacksondoe@gmail.com

In [11]:
# -- saving filter in a variable: basically a condition

filt = (dataframe['last'] == "Doe")

dataframe.loc[filt]

     first last                 email
1     John  Doe     johndoe@email.com
2  Jackson  Doe  jacksondoe@gmail.com

- ___Get those email addresses whos last name is/was Doe___.

In [16]:
# dataframe:[filter, column_name]

dataframe.loc[filt, 'email']

1       johndoe@email.com
2    jacksondoe@gmail.com
Name: email, dtype: object

- ___Retriving all the rows where last name is not Doe___.

In [18]:
# dataframe[~filt]

dataframe.loc[~filt]    # <<- this one is much better than above.

     first     last                     email
0  Pearson  Hardman  pearsonhardman@email.com
3  Nicolas     Cage     cagenicolas@email.com
4  Optimus    Prime        iamprime@email.com
5     Rock  Johnson  therockjohnson@email.com

In [20]:
# -- want to get email addresses, first and last name, where last name is not Doe.

dataframe.loc[~filt, ['email', 'first', 'last']]

                      email    first     last
0  pearsonhardman@email.com  Pearson  Hardman
3     cagenicolas@email.com  Nicolas     Cage
4        iamprime@email.com  Optimus    Prime
5  therockjohnson@email.com     Rock  Johnson

## Filter with multiple conditions: Using Conditional Operators.

- First name is John and last name is Doe.

- First name isn't John and last name isn't Doe.

In [37]:
# -- First lest get the dataset we created.

dataframe

     first     last                     email
0  Pearson  Hardman  pearsonhardman@email.com
1     John      Doe         johndoe@email.com
2  Jackson      Doe      jacksondoe@gmail.com
3  Nicolas     Cage     cagenicolas@email.com
4  Optimus    Prime        iamprime@email.com
5     Rock  Johnson  therockjohnson@email.com

In [30]:
# First name is John and last name is Doe.
get_john_doe = (dataframe['first'] == "John") & (dataframe['last'] == "Doe")

# First name isn't John and last name isn't Doe.
not_john_doe = (dataframe['first'] != "John") & (dataframe['last'] != "Doe")

In [31]:
dataframe.loc[get_john_doe]

# dataframe.loc[multi_filt, 'email']

  first last              email
1  John  Doe  johndoe@email.com

In [32]:
dataframe.loc[not_john_doe]

     first     last                     email
0  Pearson  Hardman  pearsonhardman@email.com
3  Nicolas     Cage     cagenicolas@email.com
4  Optimus    Prime        iamprime@email.com
5     Rock  Johnson  therockjohnson@email.com

In [34]:
# -- we can also do such: to ignore first, last names John, Doe.
# we get rest of the data.

dataframe.loc[~get_john_doe, ['email', 'first']]

                      email    first
0  pearsonhardman@email.com  Pearson
2      jacksondoe@gmail.com  Jackson
3     cagenicolas@email.com  Nicolas
4        iamprime@email.com  Optimus
5  therockjohnson@email.com     Rock

- ___First name is Rock or last name is Doe___.

In [35]:
or_filt = (dataframe['first'] == "Rock") | (dataframe['last'] == "Doe")

dataframe.loc[or_filt]

     first     last                     email
1     John      Doe         johndoe@email.com
2  Jackson      Doe      jacksondoe@gmail.com
5     Rock  Johnson  therockjohnson@email.com

In [36]:
# again. getting opposite results of above.

dataframe.loc[~or_filt]

     first     last                     email
0  Pearson  Hardman  pearsonhardman@email.com
3  Nicolas     Cage     cagenicolas@email.com
4  Optimus    Prime        iamprime@email.com